body {
	background: AntiqueWhite;
}

table {
	width: 100%;
	text-align: center;
}

th,thead {
	background-color: #ed7d31;
	color: white;
}

tr {
	background-color: #424242;
	color: white;
}
tr:nth-child(even){
	background-color: #2F2F2F;
}

